<ul>
    <li>
        01. Get the Project from GitHub repo or Source Code
    </li>
    <li>
        02. Run the project with Visual Studio
    </li>
    <li>
        03. Click on the Game menu item on the main screen
    </li>
    <li>
        04. In the left grid, Create 2 of 4 square, and 1 of 5 square (Click hold and Drag on grid cells)
    </li>
    <li>
        05. Click on cells on right side grids (start fire)
    </li>
    <li>
        06. Scores will display on score bord
    </li>
    <li>
        07. When a ship hit it will be marked on the grid
    </li>
 
</ul>

 