 
<br />
<table>
    <tr>
        <th>Instructions to Play</th>
        <td>
            <a href="~/Instructions.pdf" target="_blank">Download Instructions</a>
        </td>
    </tr>
    <tr>
        <th>Hight Level Design</th>
        <td>
            <a href="~/Instructions.pdf" target="_blank">Download Implimentation Document</a>
        </td>
    </tr>
    <tr>
        <th>Please Note</th>
        <td>
            If you are facing any issue with running this application, Please contact me on 071-8064041 or 071-1215861
        </td>
    </tr>
</table>